<% layout('layouts/boilerplate') %>

<div class="row mt-5">
    <div class="container col-lg-5">
        <div class="card shadow border-0">
            <div class="card-body">
                 <form action="/forgot" method="POST">
                    <legend class="text-center">Forgot Password</legend>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" autofocus class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary col-lg-12 mt-2 mb-2 shadow" value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>