<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta name="description" content="A site to share photos of your favorite meals and recipes with the world." />
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="icon" href="#" />
        <title>Foodstagram</title>
    </head>
    <body>
        <h1>Foodstagram</h1>
    </body>
</html>