<% layout('layouts/boilerplate') %>

<div class="container-fluid mx-auto mb-2">
    <div class="d-flex justify-content-center align-items-center mb-2">
        <h1>All Recipes</h1>
    </div>
    <div>
        <div class="container-fluid">
            <div class="card-columns">
                <% for (let recipe of recipes) {%>
                    <div class="card shadow mb-3 text-center">
                        <div>
                            <img class="img-fluid" alt="" src="<%=recipe.image%>">
                        </div>
                        <div>
                            <div class="card-body">
                                <h5 class="card-title"><%=recipe.title%></h5>
                                <p class="card-text">
                                    Cook-Time: <%=recipe.duration%> min
                                </p>
                                <a class="btn btn-sm btn-primary" href="/recipes/<%=recipe._id%>">View Recipe</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>