<% layout('layouts/boilerplate') %>

<h1 class="text-center">New Recipe</h1>
<div class="row mt-3">
    <div class="container col-lg-9 mb-5">
        <form action="/recipes" method="POST">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input class="form-control" type="text" id="image" name="recipe[image]">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="recipe[title]">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="style">Type of Cuisine</label>
                    <input class="form-control" type="text" id="style" name="recipe[style]" placeholder="American, Italian, etc">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="duration">Cook-Time</label>
                    <input class="form-control" type="text" id="duration" name="recipe[duration]" placeholder="30, 60, etc">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="keto_friendly">Keto-Friendley</label>
                    <input class="form-control" type="text" id="keto_friendly" name="recipe[keto_friendly]" placeholder="Yes or No">
                </div>
                <div class="col-sm-12  mb-3">
                    <label class="form-label" for="Ingredients">Ingredients</label>
                    <textarea class="form-control" type="text" id="ingredients" name="recipe[ingredients]" ></textarea>
                </div>
                <div class="col-sm-12  mb-4">
                    <label class="form-label" for="instructions">Instructions</label>
                    <textarea class="form-control" type="text" id="instructions" name="recipe[instructions]"></textarea>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column align-items-center">
                <button class="btn btn-success col-md-6 col-12 mb-2">Add Recipe</button>
                <a href="/recipes" class="btn btn-primary col-md-6 col-12 mb-2">View All Recipes</a>
            </div>
        </form>
    </div>
</div>

